
@{
    ViewData["Title"] = "Filter Leaves";
}

<h2>Filter leave requests by employee</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FilterByEmployee">
            <div class="form-group">
                <label  class="control-label">Choose an Employee:</label>
                <select class="form-control" name="id" asp-items="ViewBag.EmployeeId"></select>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>           
        </form>
    </div>
</div>
<div>
    <a asp-action="LeaveHistoryDetails">Back to previous page</a>
</div>
